<a href="https://colab.research.google.com/github/Queenie-101/Intro-to-Pandas/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
#used to perform mathematical operations
import pandas as pd
#used to perform data analysis

In [7]:
#create the data
student_data={"Names":["Jayla","Maverick","Chantel","Sean","Peace","David","Esther","Enny","Dami","Michael"],
              "Age":[17,16,16,17,15,16,17,16,16,17],
              "Adress":["California","Nigeria","Los Angeles","Stanford","Nigeria","America","London","San Franciso","Canada","Canada"]}
#display the data
print(student_data)

{'Names': ['Jayla', 'Maverick', 'Chantel', 'Sean', 'Peace', 'David', 'Esther', 'Enny', 'Dami', 'Michael'], 'Age': [17, 16, 16, 17, 15, 16, 17, 16, 16, 17], 'Adress': ['California', 'Nigeria', 'Los Angeles', 'Stanford', 'Nigeria', 'America', 'London', 'San Franciso', 'Canada', 'Canada']}

In [8]:
#sort the data according to age
np.sort(student_data["Age"])
print(student_data)

{'Names': ['Jayla', 'Maverick', 'Chantel', 'Sean', 'Peace', 'David', 'Esther', 'Enny', 'Dami', 'Michael'], 'Age': [17, 16, 16, 17, 15, 16, 17, 16, 16, 17], 'Adress': ['California', 'Nigeria', 'Los Angeles', 'Stanford', 'Nigeria', 'America', 'London', 'San Franciso', 'Canada', 'Canada']}

In [9]:
#create a data frame
df=pd.DataFrame(student_data)
print(df)

      Names  Age        Adress
0     Jayla   17    California
1  Maverick   16       Nigeria
2   Chantel   16   Los Angeles
3      Sean   17      Stanford
4     Peace   15       Nigeria
5     David   16       America
6    Esther   17        London
7      Enny   16  San Franciso
8      Dami   16        Canada
9   Michael   17        Canada